{% assign news_items = site.news | sort: "date" | reverse | slice: 0, include.limit -%}

<div class="my-3 bg-white shadow-sm rounded-xl">
    <h6 class="p-3 mb-0 border-bottom border-gray"><i class="fas fa-rss"></i> News</h6>
    <div class="news-list px-3 py-2 small">
        {% for item in news_items %}
        <div class="news-entry">
            <div class="news-entry-date">{{ item.date | date: "%b %-d" }}</div>
            <div class="news-entry-title">{{ item.title }}</div>
        </div>
        {% endfor %}
    </div>
</div>
